@media (min-width: 1200px) {
    #quadro0 {
        position: fixed;
        right: 0%;
        bottom: 0%;
        margin-bottom: 2%;
        margin-right: 2%;
        border: 1px solid #17a2b8;
        padding: 0.7% 1% 4% 1%;
        border-radius: 100%; 
        font-size: 30px;
        width: 6%;
        height: 8%;
        color: white;
        background-color:#17a2b8;
    }
}