html {
    height: 100vh;   
}

body {
    max-height: 92vh;
}

#paiNav {
    padding: 0%;
}

#nav {
    background-color: rgba(0, 0, 0, 90%) !important;
    color: white;
}

#boards a:visited {
    color: white;
    font-size: 20px;
}

#campoObrigatorio {
    float: right;
    color: red;
    margin-left: 5px;
}

#mensagemErro {
   /* float: right;*/
    color: red;
}

#sucesso {
    margin-top: 5%;
}

#inicioQuadros {
    height: 94vh;
    background-image: linear-gradient(to left top, #f9ecf9, #d6c9d8, #b4a6b8, #93859a, #72667c);
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    clear: both;
}

#logout {
    color: white !important;
}
#logout:hover {
    cursor: pointer;
}

.invi {
    visibility: hidden;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #93859a;
}

.card-columns {
    margin-top: 2%;
}

.escolherLista:hover{
    color: black !important;
}

.card-columns:hover {
    margin-top: 2%;
    cursor:pointer;
}

#botaoQuadro {
    margin-top: 2%;
}

.fundos:hover{
    cursor: pointer;
}

.seletorCor {
    color:white;
    border: 1px solid black;
}

.delete:hover {
    box-shadow:0 5px 10px rgb(32, 30, 30);
    color: red;
}

.renomear:hover {
    box-shadow:0 5px 10px rgb(32, 30, 30);
}

.repintar {
    margin-right: 4%;
}

.repintar:hover {
    box-shadow:0 5px 10px rgb(32, 30, 30);
    color: blue;
}

.renomear {
    margin-right: 4%;
}

#erroTag {
    display: none;
}

#botaoRenomear {
    margin-top: 2%;
}

#botaoRenomearCard {
    margin-top: 2%;
}

#data {
    margin-bottom: 4%;
}

#comecarComentarios {
    /*border: 1px solid blue;*/ 
    margin-bottom: 3%;
}

#comecarComentarios i {
    margin-right: 2%;
}

#formComentariosBody {
    /*border: 1px solid green;*/ 
    float: left; 
    width: 80%;
}

#modalCores div{
    margin-bottom: 3%;
}

#botaoCor {
    margin-top: 2%;
}


#menuCard {
    font-size: 15px;
}

#grupoTags button {
    background-color: white !important;
}

#comentariosCardsTitulo {
    /*border: 1px solid purple;*/ 
    float: left;
    margin-top: 4%; 
    width: 100%; 
    bottom: 0%;
}

#comentariosCardsTitulo i {
    margin-right: 2%;
}

#paiComentariosCardBody {
    /*border: 1px solid aqua;*/ 
    margin-top: 2%; 
    float: left; 
    width: 100%;
}

#comentariosCardBody {
    border-radius: 2%;
    border: 1px solid lightgray;
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden; 
    padding-left: 1%;
    padding-top: 2%;
}

#grupoListas .card{
    display: inline-block;
} 

#teste {
    margin-top: 2%;
}

#grupoCartoes li{
    margin-bottom: 5%;
}

#erroTag {
    text-align: center;
}

#botaoCard:hover {
    cursor: pointer;
}

#botaoLista:hover {
    cursor: pointer;
}

#iconesLista:hover {
    cursor: pointer;
}

#menuCard {
    float: right;
    /*border: 1px solid red;*/
    width: 30%;
    height: 85px;
}

.dropdown button {
    background-color: white !important;
    color: black;
}

#tags {
    float: right;
    margin-top: 1%;
   /* border: 1px solid gold;*/
    max-width: 15%;
    margin-top: 2%;
}

.fa {
    cursor: pointer;
}

.etiqueta {
    margin-right: 2%;
    opacity: 0.8;
}

.dropdown-menu li:hover {
    background-color: #b4a6b8;
}


.dropTags {
    margin-bottom: 2%;
    border-radius: 7%;
    opacity: 0.8;
}

.dropTags:hover {
    cursor: pointer;
    opacity: 1;
}

.acoesModalCartao {
    margin: 0%;
}

#quadro0 {
    font-weight: bold;
}

.navbar-toggler {
    color: white !important;
}

#criarLista .card-body{
    padding: 4% 1%;
}


#nomeLista{
    width: 65% !important;

}

#botaoLista {
    width: 30% !important;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffe6e6;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}